*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #384047;
  background-color: #303030;
  text-align: left;
  height: 100vh;
}

p {
  font-size: 18px;
  margin-top: -2px;
}

::cue {
  color: #fff;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* Video Containers */
#video-container{
  min-width: 420px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  width:100%;
  left: 0;
  top: 0;
}

#video-player:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

#video-player{
  width: 100%;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

video:-webkit-full-screen{ 
  max-width: 100%; 
}

video:-moz-full-screen{ max-height: 100%; }

#video-controls{
  position: absolute;
  background-color: #000;
  width: 100%;
  margin: 0 auto;
  opacity: .6;
  z-index: 1000;
  bottom: 0;
  left:0;
}

#wrapper:hover{
  display: block;
}


/*Buttons and Progres bar*/

button{
  background-color: #000;
  border-color: #000;
  margin-top: 1px;
  float: right;
}

progress{
    width: 100%;
    height: 7px;
    background-color: #8A8585;
}

#progress{
  color:  yellow;
}

#play-pause{
  float: left;
}


.pause-btn{
  display: none;
}

#current,
#duration{
  display: inline-block;
  color: #fff;
  margin-top: 8px;
  font-size: 15px;
  float: left;
}

#current{
  padding-left: 10px;
}

.volume-btn{
  display: none;
}

#volume-slider {
  float:right;
  margin-top: 7px;
}

.cc-btn-off{
  display: none;
}

.cc-text{
  color: #fff;
  margin-top: 20px;
}

.cc-div-text{
  color: #fff;
}



#mute,
#subtitles,
#full-screen{
  float: right;
  display: inline-block;
}


/*Text highligt*/

.caption{
  min-width: 420px;
  max-width: 1280px;  
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  background-color: #f0e9da;
}

.highlight{
  color: #f5871f;
}



