*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1, h2 {
  margin: 30px 0;
  text-align: center;
}

video, audio, .mejs-treehouse {
  margin: 0 auto;
  display: block;
}

#video_controls_bar {
  background: #ccc;
  padding: 10px;
}

#playpausebtn {

}
.play-btn{
  display: none;
}


.video_player_box {
  width: 600px;
  background: #000;
  margin: 0px auto;
}

#seekslider {
  width: 180px
}

.volume-btn{
  display: none;
}

#volumeslider {
  width: 80px;
}

input[type="range"] {
  -webkit-appearance: none !important;
  background: #000;
  border: #666 1px solid;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #FFF;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  cursor: pointer;
}